<strong>Olá, {{provider}}</strong>
<p>Houve um cancelamento de horario, os detalhes estão a baixo:</p><br>
<p>
  <strong>Cliente: </strong> {{user}} <br>
  <strong>Data: </strong> {{date}} <br>
  <br>
  <small>
    o horario está novamente livre
  </small>
</p>
